.sidebar {
    position: fixed;
    width: 250px;
    left: 0;
    background-color: black;
    
   
}

.sidebar .text{
    text-align: center;
    color: lightblue;
    font-family: sans-serif;
    background: black;
    font-size: 30px;
}


body{
    background-image: url('lapang.png');
}

nav ul li {
    line-height: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.8);
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 5px;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li a:hover {
    color: cyan;
    background: rgb(31, 81, 114);
    border-left-color: rgb(31, 81, 114);
}


