table {
    border-collapse: collapse;
}

table, tr, td {
    border: 1px solid black;
    
}

body {
    background-color: rgb(144, 252, 252);
}

.parent {
    display: grid;
    place-items: center;
}

button {
    display: inline-block;
    background: #4285F4;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin: 2rem 0;
}

