h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    }

body {
    font-size: 15px;
    color: #343d44;
    font-family: "segoe-ui", "open-sans", tahoma, arial;
    padding: 0;
    margin: 0;
    background-color: rgb(144, 252, 252);
    }
table tr td{
    background-color: white;
}